* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  /* overflow: hidden; */
  /* max-width: 1100px; */
  margin: auto;
}
.line {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line span {
  background-color: #09a5ab;
  width: 100%;
  height: 3px;
}

.boxs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  position: absolute;
  width: 100%;
   top: 53%;
  left:  50%;
  /* gap:50px; */
  transform: translate(-50%, -50%);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
  /* padding: 20px; */
  flex-direction: column;
}

.green {
  background-color: #24bd8f;
  width: 20px;
  height: 20px;
  margin: 20px 0;
  border-radius: 100%;
}
.card {
  margin-top: 20px;
  width: 250px;
  height: auto;
  border-radius: 10px;
  background-color: white;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
    padding: 10px 0px;
 }
.card-heading {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}
.card p {
  font-size: 16px;
  color: #666;
   width: 70%;
  margin: auto;
  margin-bottom: 10px;
 }
 .card h2{
  color:#09a5ab
 }
.dots {
  width: 20px;
  height: 20px;
  background-color: #09a5ab;
  margin: 20px 0;
  border-radius: 100%;
}
